name: Run Android Tests on BrowserStack

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'

    - name: Install Robot Framework and Dependencies
      run: |
        pip install -r requirements.txt
        pip install robotframework-seleniumlibrary
        pip install robotframework-appiumlibrary
        sudo apt-get install jq

    - name: Run Tests on All Devices from JSON
      run: |
        # Read the JSON file and generate commands
        jq -c '.devices[]' android_environment.json | while IFS= read -r device; do
          DEVICE_NAME=$(echo "$device" | jq -r '.deviceName')
          PLATFORM_VERSION=$(echo "$device" | jq -r '.platformVersion')
          
          # Construct and run the Robot Framework command
          echo "Running tests on $DEVICE_NAME with Android $PLATFORM_VERSION"
          robot --variable Device:"$DEVICE_NAME" --variable OS_Version:$PLATFORM_VERSION  Mobile/Android/KC/TestCases/Login/already_registered_user_test.robot
        done
      env:
        BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
        BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
